// More Entries navigation
// --------------------------------------------------

.moreEntries {
	margin: 0 auto 6vw;
	max-width: $screenSize-lg;
	padding: 0 2em;
}

.moreEntries_list {
	display: grid;
	grid-template-areas: 'next' 'prev';
	grid-row-gap: 2rem;
}

.moreEntries_previous {
	grid-area: prev;
}

.moreEntries_next {
	grid-area: next;
}	

.moreEntries_subhead {
	display: block;
	color: var(--color-gray);
	font-size: 0.75em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
.moreEntries_link {
	font-family: var(--fontFamily-serif);
	font-size: 1.5em;

	@include link-style-decorative();
}

@media (min-width: $screenSize-md) {
	.moreEntries_list {
		display: grid;
		grid-template-areas: 'next prev';
		justify-content: space-between;
	}
	.moreEntries_previous,
	.moreEntries_next {
		max-width: 15em;
	}

	.moreEntries_previous {
		justify-self: end;
	}

	.moreEntries_next {}
}