/* Variables / Mixins
--------------------------*/

// Viewport Sizes
$screenSize-sm: 42.5em;
$screenSize-md: 48em;
$screenSize-lg: 60em;

:root {
	// Colors - Grays
	--color-black:       #000;
	--color-grayDark:    #333;
	--color-gray:        #666;
	--color-grayLight:   #ccc;
	--color-grayLighter: #e8e8e8;
	--color-white:       #fff;

	// Colors - Bold
	--color-red:   rgb(255, 99, 71);
	--color-red75: rgba(255, 99, 71, 0.75);

	// Fonts / Text
	--fontFamily-serif:     'Otama', 'Bodoni', serif;
	--fontFamily-sans:      'Open Sans', Helvetica, sans-serif;
	--fontFamily-cond-sans: 'Open Sans Condensed', Impact, sans-serif;

	// Font Weights
	--fontWeight-thin:     100;
	--fontWeight-light:    300;
	--fontWeight-regular:  400;
	--fontWeight-bold:     700;
	--fontWeight-black:    800;

	// Z-Index
	--zIndex-header: 100;

	// Global Elements
	--mastheadHeight: 5em;

	// Main Theme
	--main-bgColor:     var(--color-grayLighter);
	--main-textColor:   var(--color-grayDark);
	--main-brandColor:  var(--color-violet);
	--header-bgColor:   var(--color-white);

	--linkColor:        var(--color-red);
	--linkColor-active: var(--color-red75);

	--window-xPadding:      1em;
	--entryDetail-padding:  1em;
	--roundedCornersRadius: 3px;
	--main-dropShadow:      0 2px 4px rgba(0,0,0,0.25);
}

// Mixins
// -----------------------

@mixin link-style-decorative() {
	border-bottom: 1px solid var(--color-red);
	color: var(--color-black);
	text-decoration: none;
	transition: all 0.4s ease;
	
	&:hover {
		background: var(--color-red75);
		border-color: transparent;
		color: var(--color-white);
	}
}

@mixin link-style-highlighted() {
	@include link-style-decorative();

	display: inline-block;
	position: relative;
	text-decoration: none;
	transition: 0.3s;
	transition-delay: 0.1s;

	&:before,
	&:after {
		content: ' ';
		position: absolute;
		z-index: -1;
	}

	&:before {
		border-bottom: 1px solid var(--color-red);
		left: -0.125em;
		top: 100%;
		transition: 0.1s;
		width: calc(100% + 0.25em);
	}
	&:after {
		height: 1.5em;
		display: block;
		left: -0.25em;
		top: 0;
		transition: 0.4s;
		width: 0px;
		@include clip-path( polygon(2% 0, 100% 0, 98% 100%, 0 100%) );
	}

	&:hover {
		background: none;
		color: var(--color-white);

		&:before {
			left: -0.25em;
		}

		&:after {
			background: var(--color-red75);
			opacity: 1;
			width: calc(100% + 0.5em);
		}
	}
}

// Responsive Video
@mixin flex_video() {
	figure.video {
		margin-bottom: 1em;
		
		.wrap {
			height: 0;
			padding-bottom: 56.25%; /* 16: 9 */
			padding-top: 25px;
			position: relative;
		}
		iframe, object, embed, video {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

// Images
@mixin fill-max-width() {
	display: block;
	height: auto; 
	max-width: 100%; 
}

@mixin fill-width() {
	@include fill-max-width;
	width: 100%; 
}

@mixin clip-path($clip) {
	-webkit-clip-path: $clip;
	clip-path: $clip;
}