// Entry Detail
// --------------------------------------------------

.entryDetail {
	margin: 0 auto;
	max-width: $screenSize-sm; 
}

.entryDetail_heading {
	margin-bottom: 0.25em;
}
.entryDetail_date {
	color: var(--color-gray);
	font-size: 0.75em;
	line-height: 1;
}

.entryDetail_body {

}