<!doctype html>
<html class="no-js" lang="en-us">
<head>
    {% include "components/shared/_head" %}
    {# {% include "components/scripts/_analytics" %} #}
</head>
<body>
    <div id="page">
        {% include "components/shared/_masthead" %}

        <main id="{{ pageID }}">
            {% block content %}
            {% endblock %}
        </main>
    </div>

    {% include "components/shared/_colophon" %}
    {% include "components/scripts/_globalScripts" %}
    
    <div id="icons">
        {% include "components/shared/_icons" %}
    </div>
</body>
</html>