{# About template #}

{% extends "_layout" %}
{% set pageTitle = entry.title %}
{% set description = '' %}
{% set pageID = "about" %}

{% block content %}
	<h1 class="heading">{{ entry.title }}</h1>

	<div class="description">
		{{ entry.body }}
	</div>
{% endblock %}