{# default template #}

{% extends "_layout" %}
{% set pageTitle = 'assorted writing by bps' %}
{% set description = '' %}
{% set pageID = "home" %}

{% block content %}	
	<h1 class="heading"></h1>

	<div class="description">
		
	</div>
{% endblock %}