{# default template #}

{% extends "_layout" %}
{% set pageTitle = entry.pageSeoTitle %}
{% set description = '' %}
{% set pageID = "home" %}

{% block content %}	
	<h1 class="heading">{{ entry.pageTitle }}</h1>

	<div class="description">
		{{ entry.pageContent }}
	</div>
{% endblock %}