@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800i&display=swap');

@font-face {
	font-display: swap;
	font-family: 'Zefani';
	font-style: normal;
	font-weight: normal;
	src: url('../media/fonts/zefani.woff2') format('woff2'),
		 url('../media/fonts/zefani.woff') format('woff');
}

@font-face {
	font-display: swap;
	font-family: 'Otama';
	font-style: normal;
	font-weight: normal;
	src: url('../media/fonts/otama-ep.woff2') format('woff2'),
		 url('../media/fonts/otama-ep.woff') format('woff');
}