// Components: Type
// --------------------------------------------------

.t-center {
	text-align: center;
}
.t-justify {
	text-align: justify;

	p {
		-webkit-hyphens: auto;
		    -ms-hyphens: auto;
		        hyphens: auto;
	}
}