{# default template #}

{% extends "_layout" %}
{% set pageTitle = 'Assorted writing by Brandon Patrick Sullivan' %}
{% set description = '' %}
{% set pageID = "home" %}

{% block content %}
	<article class="entryDetail">
		<heading class="pageHeader">
			<h1 class="pageHeader_heading entryDetail_heading">
				{{ entry.title }}
			</h1>
		</heading>
		{% if entry.body %}
			<div class="entryDetail_body">
				{{ entry.body }}
			</div>
		{% endif %}
	</article>
{% endblock %}