// Section: Colophon
// --------------------------------------------------

#colophon {
	font-size: 0.75rem;
	padding: 1em;
	text-align: center;

	a {
		color: var(--linkColor);
	}

	p {
		margin: 0;
	}
}