// Syndicated Entries
// --------------------------------------------------

.entrySyndicated {
	border-bottom: 1px dotted var(--color-gray);
	margin: 0 auto 1.5em;
	max-width: $screenSize-sm;
	padding-bottom: 1.5em;
	text-align: center;

	&:last-child {
		border: 0;
	}
}
.entrySyndicated_link {
	color: var(--main-textColor);
	text-decoration: none;
	transition: 0.25s all;

	&:hover,
	&:focus {
		color: var(--linkColor-active);
	}
}
.entrySyndicated_heading {
	margin-bottom: 0.25em;
}
.entrySyndicated_date {
	color: var(--color-gray);
	font-size: 0.75em;
	line-height: 1;
}
