// Section: Heading
// --------------------

header#masthead {
	align-items: center;
	//background: #f4ff47;
	border-bottom: 1px solid var(--color-gray);
	background: var(--main-bg-color);
	//background-size: cover;
	//color: var(--main-bg-color);
	display: flex;
	padding: 0 2vw;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100vw;
	z-index: 999;

	a {
		color: var(--color-black);
		text-decoration: none;
	}

	a.site-title {
		.initials  { display: block; }
		.full-name { display: none;  }
	}

	nav {
		ol {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
			justify-content: flex-end;
		}
		li {
			margin-left: 1em;
			text-transform: uppercase;
		}
		a {
			display: block;
			font: 300 0.875em/1 var(--fontFamily-sans);
			overflow: hidden;
			padding: 1em 0 0.75em;
			position: relative;

			&:before {
				$size: 3px;
				background: var(--color-red);
				bottom: ($size * -1);
				content: ' ';
				display: block;
				height: $size;
				position: absolute;
				transition: bottom 0.1s ease-out;
				width: 100%;
			}

			&:hover,
			&:focus,
			&:active,
			&.active {
				color: var(--color-red);
					
				&:before {
					bottom: 0;
				}
			}
		}
	}

	@media (min-width: 30em) {
		a.site-title {
			.initials  { display: none;  }
			.full-name { display: block; }
		}
	}
}
