// Section: Global
// --------------------------------------------------

::-moz-selection { background: var(--color-red); color: var(--color-white); }
::selection { background: var(--color-red); color: var(--color-white); }

body {
	background-color: var(--main-bgColor);
	color: var(--main-textColor);
	font: var(--fontWeight-regular) 1em/1.5 var(--fontFamily-sans);
}

a {
	.description & {
		@include link-style-decorative();
	}
}


#page {
	
}

main {
	padding: 4vw 4vw 16vw;
}

p:last-child {
	margin: 0;
}

footer {
	p {
		text-align: center;
	}
}