// Section: Global
// --------------------------------------------------

::-moz-selection { background: var(--color-red); color: var(--color-white); }
::selection { background: var(--color-red); color: var(--color-white); }

body {
	background-color: var(--main-bgColor);
	color: var(--main-textColor);
	font: var(--fontWeight-regular) 1em/1.5 var(--fontFamily-sans);
}

a {
	.description & {
		@include link-style-decorative();
	}
}


#page {
	
}

main {
	padding: 4vw 4vw 16vw;

	header {
		text-align: center;
		text-transform: capitalize;

		.heading {
			font: 4em/1 var(--fontFamily-serif);
		}
		.subheading {
			font: var(--fontWeight-regular) 0.625em/1rem var(--fontFamily-sans);
			letter-spacing: 0.2em;
			text-transform: uppercase;

			&:before,
			&:after {
				border-top: 1px solid var(--main-textColor);
				content: '';
				display: inline-block;
				margin: 0 1em 0.25em;
				width: 3vw;
			}
		}
		@media (min-width: 60em) {
			.heading {
				font-size: 5vw;
			}
			.subheading {
				font-size: 1vw;
			}
		}
	}
}

p:last-child {
	margin: 0;
}

footer {
	p {
		text-align: center;
	}
}