// Section: Global
// --------------------------------------------------

::-moz-selection { background: var(--color-red); color: var(--color-white); }
::selection { background: var(--color-red); color: var(--color-white); }

body {
	background-color: var(--main-bgColor);
	color: var(--main-textColor);
	font-family: var(--fontFamily-sans);
	font-size: var(--main-fontSize);
	font-weight: var(--fontWeight-regular);
	line-height: var(--main-lineHeight);
}

a {}

main {
	min-height:90vh;
	padding: 10vh 4vw 20vh;
}

p:last-child {
	margin: 0;
}