article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;  }
html, button, input, select, textarea {font-family: sans-serif; }
body { margin: 0; }
a:focus { outline: solid dotted; }
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
p { margin: 0 0 1em; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 80%; }
//nav ul, nav ol { list-style: none; list-style-image: none; }
img { border: 0; -ms-interpolation-mode: bicubic; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
h1, h2, h3, h4, h5, h6 { margin-top: 0; }
[hidden] { display: none; }
*, *:before, *:after { box-sizing: border-box; }